.landing-image-container{
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.gym-logo{
    background-image: url("../images/MetamorphosisGym_Isologotype.png");
    background-repeat: no-repeat;
}
.border-style{
    padding: 5px;
    border-radius: 5px;
    border: 3px solid yellow;
}
button{
    cursor: pointer;
    color: gold;
    background-color: black;
}
label{
    color: black;
    background-color: silver;
}
.page-container{
    background: black;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border: 3px solid red;
}
.facebook-logo{
    background-image: url("../images/Facebook_Logo.png");
    background-repeat: no-repeat;
}
.instagram-logo{
    background-image: url("../images/Instagram_Logo.png");
    background-repeat: no-repeat;
}
.linkedin-logo{
    background-image: url("../images/Linkedin_Logo.png");
    background-repeat: no-repeat;
}
.closed-letter-icon{
    background-image: url("../images/ClosedLetter_Icon.png");
    background-repeat: no-repeat;
}
#open-contact-container{
    display: none;
}
.developer-contact-container{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.social-media a, .closed-letter-icon{
    display: block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 500ms ease;
}
.social-media a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#open-contact-container:checked~ .social-media a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.title-container{
    position: absolute;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
}
.title-icon-container{
    background-size:cover;
    width: 150px;
    height: 100px;
    margin: 10px;
}
.title{
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 85px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.copyright{
    color: gold;
    background-color: red;
    position: absolute;
    left: 400px;
    bottom: 5px;
}
.lewagon-logo{
    background-image: url("../images/LeWagon_Logo.png");
    background-repeat: no-repeat;
    background-position: center;
}
.container-slider{
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    box-shadow: 0 0 0 5px chartreuse;
    position: absolute;
    left: 160px;
    bottom: 50px;
}
.slider{
    display: flex;
    width: 400%;/*100% multiplicado por la cantidad de imagenes. Ej: 100%x4 imgs*/
    height: 380px;
    margin-left: -100%;
}
.slider_section{
    width: 100%;
}
.slider_img{
    display: block;
    width: 100%;
    height: 100%;
    /* USAR EN IMAGENES HORIZONTALES: object-fit: cover; */
}
.slider_btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider_btn:hover{
    background: #fff;
}
.slider_btn-left{
    left: 5px;
}
.slider_btn-right{
    right: 5px;
}
#landing-btn{
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 400px;
}