.landing-image-container{
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.gym-logo{
    background-image: url("../images/MetamorphosisGym_Isologotype.png");
    background-repeat: no-repeat;
}
.border-style{
    padding: 5px;
    border-radius: 5px;
    border: 3px solid yellow;
}
button{
    cursor: pointer;
    color: gold;
    background-color: black;
}
label{
    color: black;
    background-color: silver;
}
.page-container{
    background: black;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border: 3px solid red;
}
.facebook-logo{
    background-image: url("../images/Facebook_Logo.png");
    background-repeat: no-repeat;
}
.instagram-logo{
    background-image: url("../images/Instagram_Logo.png");
    background-repeat: no-repeat;
}
.linkedin-logo{
    background-image: url("../images/Linkedin_Logo.png");
    background-repeat: no-repeat;
}
.closed-letter-icon{
    background-image: url("../images/ClosedLetter_Icon.png");
    background-repeat: no-repeat;
}
#open-contact-container{
    display: none;
}
.developer-contact-container{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.social-media a, .closed-letter-icon{
    display: block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 500ms ease;
}
.social-media a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#open-contact-container:checked~ .social-media a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.title-container{
    display: flex;
    justify-content: center;
}
.title-icon-container{
    background-size:cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    margin: 10px;
}
.title{
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 85px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.copyright{
    color: gold;
    background-color: red;
    position: absolute;
    left: 400px;
    bottom: 5px;
}